<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>Checkout</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/home" href="">Home</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>Checkout</li>
      </ul>
    </div>
  </div>
</div>

<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <!-- Checkout Adress-->
    <div class="col-xl-9 col-lg-8">



      <div class="checkout-steps">
        <a *ngFor="let step of steps; let i = index" href="" (click)="onStepClicked(i)"><span class="angle" *ngIf="i < steps.length-1"></span>{{step}}</a>
      </div>



      <h4>Billing Address</h4>
      <hr class="padding-bottom-1x">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="formAddress"
        >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                class="form-control"
                type="text"
                id="firstname"
                name="firstname"
                formControlName="firstname"
                >
              <div class="form-control-feedback" *ngIf="formAddress.get('firstname').invalid && formAddress.get('firstname').touched">Please enter your firstname!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input
                class="form-control"
                type="text"
                id="lastname"
                name="lastname"
                formControlName="lastname"
                >
              <div class="form-control-feedback" *ngIf="formAddress.get('lastname').invalid && formAddress.get('lastname').touched">Please enter your lastname!</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address1">Address 1</label>
              <input
                class="form-control"
                type="text"
                id="address1"
                name="address1"
                formControlName="address1"
                >
              <div class="form-control-feedback" *ngIf="formAddress.get('address1').invalid && formAddress.get('address1').touched">Please enter your address!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address2">Address 2</label>
              <input
                class="form-control"
                type="text"
                id="address2"
                name="address2"
                formControlName="address2"
                >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="zip">ZIP Code</label>
              <input class="form-control" type="text" name="zip" id="zip" formControlName="zip">
              <div class="form-control-feedback" *ngIf="formAddress.get('zip').invalid && formAddress.get('zip').touched">Please enter your zip code!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="city">City</label>
              <input class="form-control" type="text" name="city" id="city" formControlName="city">
              <div class="form-control-feedback" *ngIf="formAddress.get('city').invalid && formAddress.get('city').touched">Please enter your city!</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="checkout-email">E-mail Address</label>
              <input class="form-control" type="email" id="checkout-email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="checkout-phone">Phone Number</label>
              <input class="form-control" type="text" id="checkout-phone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="checkout-company">Company</label>
              <input class="form-control" type="text" id="checkout-company">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="checkout-country">Country</label>
              <select class="form-control" id="checkout-country" disabled>
                <option selected>Switzerland</option>
              </select>
            </div>
          </div>
        </div>
      <h4>Shipping Address</h4>
      <hr class="padding-bottom-1x">
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" checked>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Same as billing address</span>
        </label>
      </div>
      <div class="checkout-footer">
        <div class="column">
          <a class="btn btn-outline-secondary" routerLink="/cart">
            <i class="icon-arrow-left"></i>
            <span class="hidden-xs-down">&nbsp;Back To Cart</span>
          </a>
        </div>
        <div class="column">
          <button type="submit" class="btn btn-primary" href="checkout-shipping.html" [disabled]="!formAddress.valid">
            <span class="hidden-xs-down">Continue&nbsp;</span>
            <i class="icon-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="help-block text-right mt-2 text-danger" *ngIf="formAddress.invalid && formAddress.touched">Please correct the marked fields above!</div>
      </form>
    </div>
    <!-- Sidebar          -->
    <div class="col-xl-3 col-lg-4">
      <aside class="sidebar">
        <div class="padding-top-2x hidden-lg-up"></div>
        <!-- Order Summary Widget-->
        <section class="widget widget-order-summary">
          <h3 class="widget-title">Order Summary</h3>
          <table class="table">
            <tr>
              <td>Cart Subtotal:</td>
              <td class="text-medium">{{cartSubtotal | currency}}</td>
            </tr>
            <tr>
              <td>Shipping:</td>
              <td class="text-medium">{{shipping | currency}}</td>
            </tr>
            <tr>
              <td>Order Total:</td>
              <td class="text-lg text-medium">{{orderTotal | currency}}</td>
            </tr>
          </table>
        </section>
      </aside>
    </div>
  </div>
</div>
