
@import '~scss/helpers/variables';
@import '~scss/helpers/mixins';

.checkout-steps {
  margin-bottom: floor($grid-vertical-step * 1.7); // ~40px
  @include clearfix;

  > a {
    display: block;
    position: relative;
    padding-right: 18px;
    width: 25%;
    height: 55px;
    float: left;
    transition: color .3s;

    border: {
      top: 1px solid $border-color;
      bottom: 1px solid $border-color;
    }

    background-color: $body-bg;
    color: $nav-link-color;

    font: {
      size: $nav-link-font-size;
      weight: $nav-link-font-weight;
    }

    line-height: 53px;

    text: {
      decoration: none;
      align: center;
    }

    > .angle {
      display: block;
      position: absolute;
      top: 0;
      right: 0px;
      width: 27px;
      height: 53px;
      background-color: $body-bg;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: solid transparent;
        content: '';
        pointer-events: none;
      }

      &::after {
        border-width: 26px;
        border-color: transparent;
        border-left-color: $body-bg;
      }

      &::before {
        margin-top: -1px;
        border-width: 27px;
        border-color: transparent;
        border-left-color: darken($border-color, 3%);
      }
    }

    &:hover {
        color: $nav-link-hover-color;
    }

    &.active {
      background-color: $nav-link-active-color;
      color: $white-color;
      cursor: default;
      pointer-events: none;

      > .angle::after { border-left-color: $nav-link-active-color; }
    }

    &.active-sibling {
        > .angle { background-color: $nav-link-active-color; }
    }

    &.completed > .step-indicator {
      display: inline-block;
      margin: {
        top: -5px;
        right: 7px;
      }
      border-radius: 50%;
      color: $brand-success;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
    }

    &.completed:hover { color: $nav-link-color; }
    &:first-child {
      border-left: 1px solid $border-color;
      border-top-left-radius: $border-radius-lg;
      border-bottom-left-radius: $border-radius-lg;
    }

    &:last-child {
      border-right: 1px solid $border-color;
      border-top-right-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;
    }
  }

  @media (max-width: $screen-sm) {

    > a {
      width: 100%;
      margin-bottom: 10px;
      float: none;
      border: 1px solid $border-color;
      border-radius: $border-radius-lg;
      > .angle { display: none; }
    }
  }
}

.checkout-footer {
  display: table;
  width: 100%;
  margin-top: floor($grid-vertical-step * 1.2);
  padding: {
    top: 5px;
    bottom: 5px;
  }
  border: 1px solid $border-color;
  border-radius: $border-radius-lg;
  table-layout: fixed;

  > .column {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    &:last-child { text-align: right; }
    &:first-child { text-align: left; }
  }

  .btn { margin: 0; }
}
