<div class="site-search" [ngClass]="{'search-visible' : showSearch}">
  <input type="text" (input)="onSearchInput($event)" placeholder="Type to search...">
  <div class="search-tools">
    <span class="close-search">
      <i class="icon-cross" (click)="onCloseSearch()"></i>
    </span>
  </div>
  <div class="search-results">
    <ul *ngIf="products && products.length > 0">
      <li *ngFor="let product of products">
        <a routerLink="/products/{{product.id}}" (click)="onCloseSearch()">{{product.name}}</a>
      </li>
    </ul>
  </div>
</div>



