<!-- Off-Canvas Category Menu-->
<div class="offcanvas-container" id="shop-categories">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Shop Categories</h3>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children">
        <span>
          <a href="#">Men's Shoes</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Sneakers</a>
          </li>
          <li>
            <a href="#">Loafers</a>
          </li>
          <li>
            <a href="#">Boat Shoes</a>
          </li>
          <li>
            <a href="#">Sandals</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Women's Shoes</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Sandals</a>
          </li>
          <li>
            <a href="#">Flats</a>
          </li>
          <li>
            <a href="#">Sneakers</a>
          </li>
          <li>
            <a href="#">Heels</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Men's Clothing</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Shirts &amp; Tops</a>
          </li>
          <li>
            <a href="#">Pants</a>
          </li>
          <li>
            <a href="#">Jackets</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Women's Clothing</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Dresses</a>
          </li>
          <li>
            <a href="#">Shirts &amp; Tops</a>
          </li>
          <li>
            <a href="#">Shorts</a>
          </li>
          <li>
            <a href="#">Swimwear</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Kid's Shoes</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Boots</a>
          </li>
          <li>
            <a href="#">Sandals</a>
          </li>
          <li>
            <a href="#">Crib Shoes</a>
          </li>
          <li>
            <a href="#">Loafers</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Bags</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Handbags</a>
          </li>
          <li>
            <a href="#">Backpacks</a>
          </li>
          <li>
            <a href="#">Luggage</a>
          </li>
          <li>
            <a href="#">Wallets</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Accessories</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Sunglasses</a>
          </li>
          <li>
            <a href="#">Hats</a>
          </li>
          <li>
            <a href="#">Watches</a>
          </li>
          <li>
            <a href="#">Jewelry</a>
          </li>
          <li>
            <a href="#">Belts</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<!-- Off-Canvas Mobile Menu-->
<div class="offcanvas-container" id="mobile-menu" [ngClass]="{'active': offcanvasService.offcanvasNavigationOpen | async}">
  <a class="account-link" href="account-orders.html">
    <div class="user-ava">
      <img src="img/account/user-ava-md.jpg" alt="Daniel Adams">
    </div>
    <div class="user-info">
      <h6 class="user-name">Daniel Adams</h6>
      <span class="text-sm text-white opacity-60">290 Reward points</span>
    </div>
  </a>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children active">
        <span>
          <a href="index.html">
            <span>Home</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li class="active">
            <a href="index.html">Featured Products Slider</a>
          </li>
          <li>
            <a href="home-featured-categories.html">Featured Categories</a>
          </li>
          <li>
            <a href="home-collection-showcase.html">Products Collection Showcase</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="shop-grid-ls.html">
            <span>Shop</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="shop-categories.html">Shop Categories</a>
          </li>
          <li class="has-children">
            <span>
              <a href="shop-grid-ls.html">
                <span>Shop Grid</span>
              </a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="shop-grid-ls.html">Grid Left Sidebar</a>
              </li>
              <li>
                <a href="shop-grid-rs.html">Grid Right Sidebar</a>
              </li>
              <li>
                <a href="shop-grid-ns.html">Grid No Sidebar</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="shop-list-ls.html">
                <span>Shop List</span>
              </a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="shop-list-ls.html">List Left Sidebar</a>
              </li>
              <li>
                <a href="shop-list-rs.html">List Right Sidebar</a>
              </li>
              <li>
                <a href="shop-list-ns.html">List No Sidebar</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="shop-single.html">Single Product</a>
          </li>
          <li>
            <a href="cart.html">Cart</a>
          </li>
          <li>
            <a href="checkout.html">Checkout</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Categories</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li class="has-children">
            <span>
              <a href="#">Men's Shoes</a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="#">Sneakers</a>
              </li>
              <li>
                <a href="#">Loafers</a>
              </li>
              <li>
                <a href="#">Boat Shoes</a>
              </li>
              <li>
                <a href="#">Sandals</a>
              </li>
              <li>
                <a href="#">View All</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="#">Women's Shoes</a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="#">Sandals</a>
              </li>
              <li>
                <a href="#">Flats</a>
              </li>
              <li>
                <a href="#">Sneakers</a>
              </li>
              <li>
                <a href="#">Heels</a>
              </li>
              <li>
                <a href="#">View All</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="#">Men's Clothing</a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="#">Shirts &amp; Tops</a>
              </li>
              <li>
                <a href="#">Pants</a>
              </li>
              <li>
                <a href="#">Jackets</a>
              </li>
              <li>
                <a href="#">View All</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="#">Women's Clothing</a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="#">Dresses</a>
              </li>
              <li>
                <a href="#">Shirts &amp; Tops</a>
              </li>
              <li>
                <a href="#">Shorts</a>
              </li>
              <li>
                <a href="#">Swimwear</a>
              </li>
              <li>
                <a href="#">View All</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="#">Bags</a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="#">Handbags</a>
              </li>
              <li>
                <a href="#">Backpacks</a>
              </li>
              <li>
                <a href="#">Luggage</a>
              </li>
              <li>
                <a href="#">Wallets</a>
              </li>
              <li>
                <a href="#">View All</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="#">Accessories</a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="#">Sunglasses</a>
              </li>
              <li>
                <a href="#">Hats</a>
              </li>
              <li>
                <a href="#">Watches</a>
              </li>
              <li>
                <a href="#">Jewelry</a>
              </li>
              <li>
                <a href="#">Belts</a>
              </li>
              <li>
                <a href="#">View All</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="account-orders.html">
            <span>Account</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="account-login.html">Login / Register</a>
          </li>
          <li>
            <a href="account-password-recovery.html">Password Recovery</a>
          </li>
          <li>
            <a href="account-orders.html">Orders List</a>
          </li>
          <li>
            <a href="account-wishlist.html">Wishlist</a>
          </li>
          <li>
            <a href="account-profile.html">Profile Page</a>
          </li>
          <li>
            <a href="account-address.html">Contact / Shipping Address</a>
          </li>
          <li>
            <a href="account-open-ticket.html">Open Ticket</a>
          </li>
          <li>
            <a href="account-tickets.html">My Tickets</a>
          </li>
          <li>
            <a href="account-single-ticket.html">Single Ticket</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="blog-rs.html">
            <span>Blog</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li class="has-children">
            <span>
              <a href="blog-rs.html">
                <span>Blog Layout</span>
              </a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="blog-rs.html">Blog Right Sidebar</a>
              </li>
              <li>
                <a href="blog-ls.html">Blog Left Sidebar</a>
              </li>
              <li>
                <a href="blog-ns.html">Blog No Sidebar</a>
              </li>
            </ul>
          </li>
          <li class="has-children">
            <span>
              <a href="blog-single-rs.html">
                <span>Single Post Layout</span>
              </a>
              <span class="sub-menu-toggle"></span>
            </span>
            <ul class="offcanvas-submenu">
              <li>
                <a href="blog-single-rs.html">Post Right Sidebar</a>
              </li>
              <li>
                <a href="blog-single-ls.html">Post Left Sidebar</a>
              </li>
              <li>
                <a href="blog-single-ns.html">Post No Sidebar</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">
            <span>Pages</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="about.html">About Us</a>
          </li>
          <li>
            <a href="mobile-app.html">Unishop Mobile App</a>
          </li>
          <li>
            <a href="services.html">Services</a>
          </li>
          <li>
            <a href="contacts.html">Contacts</a>
          </li>
          <li>
            <a href="faq.html">Help / FAQ</a>
          </li>
          <li>
            <a href="order-tracking.html">Order Tracking</a>
          </li>
          <li>
            <a href="search-results.html">Search Results</a>
          </li>
          <li>
            <a href="404.html">404</a>
          </li>
          <li>
            <a href="coming-soon.html">Coming Soon</a>
          </li>
          <li>
            <a class="text-danger" href="docs/dev-setup.html">Documentation</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="components/accordion.html">
            <span>Components</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="components/accordion.html">Accordion</a>
          </li>
          <li>
            <a href="components/alerts.html">Alerts</a>
          </li>
          <li>
            <a href="components/buttons.html">Buttons</a>
          </li>
          <li>
            <a href="components/cards.html">Cards</a>
          </li>
          <li>
            <a href="components/carousel.html">Carousel</a>
          </li>
          <li>
            <a href="components/countdown.html">Countdown</a>
          </li>
          <li>
            <a href="components/forms.html">Forms</a>
          </li>
          <li>
            <a href="components/gallery.html">Gallery</a>
          </li>
          <li>
            <a href="components/google-maps.html">Google Maps</a>
          </li>
          <li>
            <a href="components/images.html">Images &amp; Figures</a>
          </li>
          <li>
            <a href="components/list-group.html">List Group</a>
          </li>
          <li>
            <a href="components/market-social-buttons.html">Market &amp; Social Buttons</a>
          </li>
          <li>
            <a href="components/media.html">Media Object</a>
          </li>
          <li>
            <a href="components/modal.html">Modal</a>
          </li>
          <li>
            <a href="components/pagination.html">Pagination</a>
          </li>
          <li>
            <a href="components/pills.html">Pills</a>
          </li>
          <li>
            <a href="components/progress-bars.html">Progress Bars</a>
          </li>
          <li>
            <a href="components/shop-items.html">Shop Items</a>
          </li>
          <li>
            <a href="components/steps.html">Steps</a>
          </li>
          <li>
            <a href="components/tables.html">Tables</a>
          </li>
          <li>
            <a href="components/tabs.html">Tabs</a>
          </li>
          <li>
            <a href="components/team.html">Team</a>
          </li>
          <li>
            <a href="components/toasts.html">Toast Notifications</a>
          </li>
          <li>
            <a href="components/tooltips-popovers.html">Tooltips &amp; Popovers</a>
          </li>
          <li>
            <a href="components/typography.html">Typography</a>
          </li>
          <li>
            <a href="components/video-player.html">Video Player</a>
          </li>
          <li>
            <a href="components/widgets.html">Widgets</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
