<app-main-slider></app-main-slider>

    <!-- Product Widgets-->
    <section class="container padding-bottom-2x mt-5">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-featured-products">
                    <h3 class="widget-title">Top Sellers</h3>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/01.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Oakley Kickback</a>
                            </h4>
                            <span class="entry-meta">$155.00</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/03.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Vented Straw Fedora</a>
                            </h4>
                            <span class="entry-meta">$49.50</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/04.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Big Wordmark Tote</a>
                            </h4>
                            <span class="entry-meta">$29.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-featured-products">
                    <h3 class="widget-title">New Arrivals</h3>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/05.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Union Park</a>
                            </h4>
                            <span class="entry-meta">$49.99</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/06.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Cole Haan Crossbody</a>
                            </h4>
                            <span class="entry-meta">$200.00</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/07.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Skagen Holst Watch</a>
                            </h4>
                            <span class="entry-meta">$145.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-featured-products">
                    <h3 class="widget-title">Best Rated</h3>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/08.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Jordan's City Hoodie</a>
                            </h4>
                            <span class="entry-meta">$65.00</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/09.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Palace Shell Track Jacket</a>
                            </h4>
                            <span class="entry-meta">$36.99</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="img/shop/widget/10.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">Off the Shoulder Top</a>
                            </h4>
                            <span class="entry-meta">$128.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Promo #1-->
    <section class="container-fluid padding-top-3x">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 mb-30">
                <div class="rounded bg-faded position-relative padding-top-3x padding-bottom-3x">
                    <span class="product-badge text-danger" style="top: 24px; left: 24px;">Limited Offer</span>
                    <div class="text-center">
                        <h3 class="h2 text-normal mb-1">New</h3>
                        <h2 class="display-2 text-bold mb-2">Sunglasses</h2>
                        <h4 class="h3 text-normal mb-4">collection at discounted price!</h4>
                        <div class="countdown mb-3" data-date-time="02/30/2018 12:00:00">
                            <div class="item">
                                <div class="days">00</div>
                                <span class="days_ref">Days</span>
                            </div>
                            <div class="item">
                                <div class="hours">00</div>
                                <span class="hours_ref">Hours</span>
                            </div>
                            <div class="item">
                                <div class="minutes">00</div>
                                <span class="minutes_ref">Mins</span>
                            </div>
                            <div class="item">
                                <div class="seconds">00</div>
                                <span class="seconds_ref">Secs</span>
                            </div>
                        </div>
                        <br>
                        <a class="btn btn-primary margin-bottom-none" href="#">View Offers</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 mb-30" style="min-height: 270px;">
                <div class="img-cover rounded" style="background-image: url(img/banners/home01.jpg);"></div>
            </div>
        </div>
    </section>

    <!-- Promo #2-->
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="fw-section rounded padding-top-4x padding-bottom-4x" style="background-image: url(img/banners/home02.jpg);">
                    <span class="overlay rounded" style="opacity: .35;"></span>
                    <div class="text-center">
                        <h3 class="display-4 text-normal text-white text-shadow mb-1">Old Collection</h3>
                        <h2 class="display-2 text-bold text-white text-shadow">HUGE SALE!</h2>
                        <h4 class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0 mb-4">at our outlet stores</h4>
                        <br>
                        <a class="btn btn-primary margin-bottom-none" href="contacts.html">Locate Stores</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services-->
    <section class="container padding-top-3x padding-bottom-2x">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="img/services/01.png" alt="Shipping">
                <h6>Free Worldwide Shipping</h6>
                <p class="text-muted margin-bottom-none">Free shipping for all orders over $100</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="img/services/02.png" alt="Money Back">
                <h6>Money Back Guarantee</h6>
                <p class="text-muted margin-bottom-none">We return money within 30 days</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="img/services/03.png" alt="Support">
                <h6>24/7 Customer Support</h6>
                <p class="text-muted margin-bottom-none">Friendly 24/7 customer support</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="img/services/04.png" alt="Payment">
                <h6>Secure Online Payment</h6>
                <p class="text-muted margin-bottom-none">We posess SSL / Secure Certificate</p>
            </div>
        </div>
    </section>
