<h4>Choose Shipping Method</h4>
<hr class="padding-bottom-1x">
<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Shipping method</th>
        <th>Delivery time</th>
        <th>Handling fee</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Swiss Post Priority</span>
        </td>
        <td class="align-middle">1 - 2 days</td>
        <td class="align-middle">$11.00</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="form-control-radio" type="radio" name="shipping-method" checked="">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Swiss Post Economy</span>
        </td>
        <td class="align-middle">up to one week</td>
        <td class="align-middle">$9.00</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="form-control-radio" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
