<h4>Choose Shipping Method</h4>
<hr class="padding-bottom-1x">
<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Shipping method</th>
        <th>Delivery time</th>
        <th>Handling fee</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Courier</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone), United States &amp; Canada</span>
        </td>
        <td class="align-middle">2 - 4 days</td>
        <td class="align-middle">$22.50</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method" checked="">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Local Shipping</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone), United States &amp; Canada</span>
        </td>
        <td class="align-middle">up to one week</td>
        <td class="align-middle">$10.00</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Flat Rate</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone)</span>
        </td>
        <td class="align-middle">5 - 7 days</td>
        <td class="align-middle">$33.85</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">UPS Ground Shipping</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone)</span>
        </td>
        <td class="align-middle">4 - 6 days</td>
        <td class="align-middle">$18.00</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Local Pickup from store</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone)</span>
        </td>
        <td class="align-middle">—</td>
        <td class="align-middle">$0.00</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Pick Up at Unishop Locker</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone), United States &amp; Canada</span>
        </td>
        <td class="align-middle">—</td>
        <td class="align-middle">$9.99</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <span class="text-medium">Unishop Global Export</span>
          <br>
          <span class="text-muted text-sm">All Addresses(default zone), outside United States</span>
        </td>
        <td class="align-middle">3 - 4 days;</td>
        <td class="align-middle">$25.00</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping-method">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
