<div class="padding-top-2x mt-2 hidden-lg-up">
</div>
<div class="table-responsive">
  <table class="table table-hover margin-bottom-none">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Date Purchased</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">78A643CD409</a>
        </td>
        <td>August 08, 2017</td>
        <td>
          <span class="text-danger">Canceled</span>
        </td>
        <td>
          <span class="text-medium">$760.50</span>
        </td>
      </tr>
      <tr>
        <td>
          <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">34VB5540K83</a>
        </td>
        <td>July 21, 2017</td>
        <td>
          <span class="text-info">In Progress</span>
        </td>
        <td>
          <span class="text-medium">$315.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">112P45A90V2</a>
        </td>
        <td>June 15, 2017</td>
        <td>
          <span class="text-warning">Delayed</span>
        </td>
        <td>
          <span class="text-medium">$1,264.00</span>
        </td>
      </tr>
      <tr>
        <td>
          <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">28BA67U0981</a>
        </td>
        <td>May 19, 2017</td>
        <td>
          <span class="text-success">Delivered</span>
        </td>
        <td>
          <span class="text-medium">$198.35</span>
        </td>
      </tr>
      <tr>
        <td>
          <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">502TR872W2</a>
        </td>
        <td>April 04, 2017</td>
        <td>
          <span class="text-success">Delivered</span>
        </td>
        <td>
          <span class="text-medium">$2,133.90</span>
        </td>
      </tr>
      <tr>
        <td>
          <a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">47H76G09F33</a>
        </td>
        <td>March 30, 2017</td>
        <td>
          <span class="text-success">Delivered</span>
        </td>
        <td>
          <span class="text-medium">$86.40</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<div class="text-right">
  <a class="btn btn-link-primary margin-bottom-none" href="#">
    <i class="icon-download"></i>&nbsp;Order Details</a>
</div>