<div class="container padding-top-3x padding-bottom-3x mb-1">
    <img
        class="d-block m-auto"
        src="https://firebasestorage.googleapis.com/v0/b/cas-fee-shop.appspot.com/o/ui-images%2F404_art.jpg?alt=media&token=e0b28514-4bf1-412a-9ca2-858515c68ab0"
        style="width: 100%; max-width: 550px;"
        alt="404"
        />
    <div class="padding-top-1x mt-2 text-center">
        <h3>Page Not Found</h3>
        <p>It seems we can’t find page you are looking for.
            <a routerLink="/">Go back to Homepage</a>
            <br>Or try using search at the top right corner of the page.</p>
    </div>
</div>
