@import '~scss/helpers/variables';
@import '~scss/helpers/mixins';

::ng-deep {

    .ui-carousel-item {
        background: none !important;
    }

    .arrow {
       &::before,
       &::after {
           background-color: #606975 !important;
       }

       @media only screen and (max-width: 992px) {
           display: none !important;
       }
    }

    .middle {
        .dot {
            background: #606975 !important;

            &.active {
                opacity: 1 !important;
            }
        }
    }
}

