<section class="hero-slider" style="background-image: url(img/hero-slider/main-bg.jpg);">
  <ui-carousel [infinite]="true" [fade]="false" [speed]="400" [autoPlay]="true" [autoPlaySpeed]="10000" height="580px" width="100%" class="large-controls dots-inside">
    <ui-carousel-item>
      <div class="container padding-top-3x">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
            <div class="from-bottom">
              <img class="d-inline-block w-150 mb-4" src="img/hero-slider/logo02.png" alt="Puma">
              <div class="h2 text-body text-normal mb-2 pt-1">Puma Backpacks Collection</div>
              <div class="h2 text-body text-normal mb-4 pb-1">starting at
                <span class="text-bold">$37.99</span>
              </div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers</a>
          </div>
          <div class="col-md-6 padding-bottom-2x mb-3">
            <img class="d-block mx-auto" src="img/hero-slider/02.png" alt="Puma Backpack">
          </div>
        </div>
      </div>
    </ui-carousel-item>
    <ui-carousel-item>
      <div class="container padding-top-3x">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
            <div class="from-bottom">
              <img class="d-inline-block w-200 mb-4" src="img/hero-slider/logo01.png" alt="Converse">
              <div class="h2 text-body text-normal mb-2 pt-1">Chuck Taylor All Star II</div>
              <div class="h2 text-body text-normal mb-4 pb-1">for only
                <span class="text-bold">$59.99</span>
              </div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
          </div>
          <div class="col-md-6 padding-bottom-2x mb-3">
            <img class="d-block mx-auto" src="img/hero-slider/01.png" alt="Chuck Taylor All Star II">
          </div>
        </div>
      </div>
    </ui-carousel-item>
    <ui-carousel-item>
      <div class="container padding-top-3x">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
            <div class="from-bottom">
              <img class="d-inline-block mb-4" src="img/hero-slider/logo03.png" style="width: 125px;" alt="Motorola">
              <div class="h2 text-body text-normal mb-2 pt-1">Smart Watch Moto 360 2nd</div>
              <div class="h2 text-body text-normal mb-4 pb-1">for only
                <span class="text-bold">$299.99</span>
              </div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
          </div>
          <div class="col-md-6 padding-bottom-2x mb-3">
            <img class="d-block mx-auto" src="img/hero-slider/03.png" alt="Moto 360">
          </div>
        </div>
      </div>
    </ui-carousel-item>

  </ui-carousel>

