<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Products</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a routerLink="/home" href="">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Products</li>
            </ul>
        </div>
    </div>
</div>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
    <!-- Shop Toolbar-->
    <div class="shop-toolbar padding-bottom-1x mb-2">
        <div class="column">
            <div class="shop-sorting">
                <label for="sorting">Sort by:</label>
                <select class="form-control" id="sorting">
                    <option>Popularity</option>
                    <option>Low - High Price</option>
                    <option>High - Low Price</option>
                    <option>Avarage Rating</option>
                    <option>A - Z Order</option>
                    <option>Z - A Order</option>
                </select>
                <span class="text-muted">Showing:&nbsp;</span>
                <span>1 - 12 items</span>
            </div>
        </div>
        <div class="column">
            <div class="shop-view">
                <a href="" class="grid-view" [ngClass]="{active: displayMode === 'grid'}" (click)="onDisplayModeChange('grid', $event)">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <a href="" class="list-view" [ngClass]="{active: displayMode === 'list'}" (click)="onDisplayModeChange('list', $event)">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>

    <!-- Products Grid Mode View -->
    <div class="row" *ngIf="displayMode === 'grid'">
        <app-products-list-item ngClass="col col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products" [product]="product" [displayMode]="displayMode">
        </app-products-list-item>
    </div>

    <!-- Products List Mode View-->
    <div class="row" *ngIf="displayMode === 'list'">
        <app-products-list-item ngClass="col-12" *ngFor="let product of products" [product]="product" [displayMode]="displayMode">
        </app-products-list-item>
    </div>


    <!-- Pagination-->
    <nav class="pagination">
        <div class="column">
            <ul class="pages">
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>...</li>
                <li>
                    <a href="#">12</a>
                </li>
            </ul>
        </div>
        <div class="column text-right hidden-xs-down">
            <a class="btn btn-outline-secondary btn-sm" href="#">Next&nbsp;
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </nav>
