<div class="checkout-footer">
  <div class="column">
    <button *ngIf="buttons.includes('backToCart')" class="btn btn-outline-secondary" routerLink="/cart">
      <i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Back To Cart</span>
    </button>
    <button *ngIf="buttons.includes('back')" class="btn btn-outline-secondary" (click)="onBack($event)">
      <i class="icon-arrow-left"></i>
      <span class="hidden-xs-down">&nbsp;Back</span>
    </button>
  </div>
  <div class="column">
    <button *ngIf="buttons.includes('continue')" class="btn btn-primary" href="" (click)="onContinue($event)" [disabled]="!continueEnabled">
      <span class="hidden-xs-down">Continue&nbsp;</span><i class="icon-arrow-right"></i>
    </button>
    <button *ngIf="buttons.includes('completeOrder')" class="btn btn-primary" href="" (click)="onCompleteOrder($event)">
      <span class="hidden-xs-down">Complete Order</span><span class="d-sm-none">Complete</span>
    </button>
  </div>
</div>
