<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8 order-md-2">
      <h6 class="text-muted text-normal text-uppercase">Product Preview</h6>
      <hr class="margin-bottom-1x">
      <app-products-list-item [product]="product" [displayMode]="'list'"></app-products-list-item>
      <h6 class="text-muted text-normal text-uppercase">Add or Edit Product</h6>
      <hr class="margin-bottom-1x">

      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-2 col-form-label" for="product-name">Product Name</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="product-name" type="text" id="product-name"
              value="">
            <div *ngIf="!productForm.get('product-name').valid && productForm.get('product-name').touched" class="form-control-feedback">
              Shucks, enter a name for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="product-id">Custom Id</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="product-id" type="number" id="product-id"
              value="0">
            <div *ngIf="!productForm.get('product-id').valid && productForm.get('product-id').touched" class="form-control-feedback">
              Shucks, enter a number as id for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="product-categories">Categories (commma seperated)</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="product-categories" type="text" id="product-categories"
              value="">
            <div *ngIf="!productForm.get('product-categories').valid && productForm.get('product-categories').touched" class="form-control-feedback">
              Shucks, enter at least one category for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="product-description">Product description</label>
          <div class="col-10">
            <textarea class="form-control form-control-square form-control-sm" formControlName="product-description" id="product-description"
              rows="5">
            </textarea>
            <div *ngIf="!productForm.get('product-description').valid && productForm.get('product-description').touched" class="form-control-feedback">
              Shucks, enter a description for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="file-input">File</label>
          <div class="col-10">
            <div class="custom-file">
              <input class="custom-file-input" type="file" id="product-photos">
              <label class="custom-file-label" for="file-input">Choose file...</label>
            </div>
          </div>
        </div>

        <div formGroupName="product-price">
          <div class="form-group row">
            <label class="col-2 col-form-label" for="price">Actual Price</label>
            <div class="col-10">
              <input class="form-control form-control-square form-control-sm" formControlName="price" type="number" id="sprice"
                value="">
            <div *ngIf="!productForm.get('product-price.price').valid && productForm.get('product-price.price').touched" class="form-control-feedback">
              Shucks, enter a price for your product.
            </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label" for="price-normal">Original Price</label>
            <div class="col-10">
              <input class="form-control form-control-square form-control-sm" formControlName="price-normal" type="number" id="price-normal"
                value="0">
                <div *ngIf="!productForm.get('product-price.price-normal').valid && productForm.get('product-price.price-normal').touched" class="form-control-feedback">
                  Shucks, enter a base price for your product.
                </div>
              </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label" for="reduction">Reduction</label>
            <div class="col-10">
              <input class="form-control form-control-square form-control-sm" formControlName="reduction" type="number" id="reduction"
                value="">
            <div *ngIf="!productForm.get('product-price.reduction').valid && productForm.get('product-price.reduction').touched" class="form-control-feedback">
              Shucks, enter a name for your product.
            </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-10"></div>
          <div class="col-2">
            <button class="btn btn-primary btn-square margin-top-none" type="submit">Submit</button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>