<div class="padding-top-2x mt-2 hidden-lg-up">
</div>
<form class="row" [formGroup]="formProfile">
  <div class="col-md-6">
    <div class="form-group" [ngClass]="{'has-danger': formProfile.get('firstname').invalid && formProfile.get('firstname').touched}">
      <label for="account-fn">First Name</label>
      <input class="form-control" type="text" id="account-fn" formControlName="firstname">
      <div class="form-control-feedback" *ngIf="formProfile.get('firstname').invalid && formProfile.get('firstname').touched">Please enter your firstname!</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" [ngClass]="{'has-danger': formProfile.get('lastname').invalid && formProfile.get('lastname').touched}">
      <label for="account-ln">Last Name</label>
      <input class="form-control" type="text" id="account-ln" formControlName="lastname">
      <div class="form-control-feedback" *ngIf="formProfile.get('lastname').invalid && formProfile.get('lastname').touched">Please enter your lastname!</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-email">E-mail Address</label>
      <input class="form-control" type="email" id="account-email" formControlName="email">
    </div>
  </div>
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-pass">New Password</label>
      <input class="form-control" type="password" formControlName="password" id="account-pass">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-confirm-pass">Confirm Password</label>
      <input class="form-control" type="password" formControlName="confirmPassword" id="account-confirm-pass">
    </div>
  </div>
  <div class="col-12">
    <hr class="mt-2 mb-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="custom-control custom-checkbox d-block">
      </div>
      <button class="btn btn-primary margin-right-none" type="submit" [disabled]="!formProfile.valid">Update Profile</button>
    </div>
  </div>
</form>
