<div class="cart">
  <a routerLink="/cart"></a>
  <i class="icon-bag"></i>
  <span class="count">{{items.length}}</span>
  <span class="subtotal">${{ total | number: '1.2-2' }}</span>
  <div class="toolbar-dropdown">
    <div *ngFor="let item of items" class="dropdown-product-item">
      <span class="dropdown-product-remove">
        <i class="icon-cross"></i>
      </span>
      <a class="dropdown-product-thumb" href="shop-single.html">
        <img [src]="item.product.imageURLs[0]" alt="{{item.product.name}}">
      </a>
      <div class="dropdown-product-info">
        <a class="dropdown-product-title" href="shop-single.html">{{item.product.name}}</a>
        <span class="dropdown-product-details">{{item.amount}} x ${{ item.product.price | number: '1.2-2' }}</span>
      </div>
    </div>
    <div class="toolbar-dropdown-group">
      <div class="column">
        <span class="text-lg">Total:</span>
      </div>
      <div class="column text-right">
        <span class="text-lg text-medium">${{ total | number: '1.2-2' }}&nbsp;</span>
      </div>
    </div>
    <div class="toolbar-dropdown-group">
      <div class="column">
        <a class="btn btn-sm btn-block btn-secondary" routerLink="/cart">View Cart</a>
      </div>
      <div class="column">
        <a class="btn btn-sm btn-block btn-success" routerLink="/checkout">Checkout</a>
      </div>
    </div>
  </div>
</div>
