<app-page-title title="Checkout" [children]="[{title: 'Checkout'}]"></app-page-title>


<div class="container padding-bottom-3x mb-2">
  <div class="card text-center">
    <div class="card-body padding-top-2x">
      <h3 class="card-title">Thank you for your order!</h3>
      <p class="card-text">Your order has been placed and will be processed as soon as possible.</p>
      <p class="card-text">You will be receiving an email shortly with confirmation of your order.
      </p>
      <div class="padding-top-1x padding-bottom-1x">
        <a class="btn btn-outline-secondary" routerLink="/home">Go Back Shopping</a>
      </div>
    </div>
  </div>
</div>
