  <app-page-title title="Login / Register Account" [children]="[{title: 'Account', link: '/account'}, {title: 'Login / Register'}]"></app-page-title>

  <!-- Page Content-->
  <div class="container padding-bottom-3x mb-2">
    <div class="row">
      <div class="col-md-6">
        <form class="login-box" [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <!-- <div class="row margin-bottom-1x">
            <div class="col-xl-4 col-md-6 col-sm-4">
              <a class="btn btn-sm btn-block facebook-btn" href="#">
                <i class="socicon-facebook"></i>&nbsp;Facebook login</a>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-4">
              <a class="btn btn-sm btn-block twitter-btn" href="#">
                <i class="socicon-twitter"></i>&nbsp;Twitter login</a>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-4">
              <a class="btn btn-sm btn-block google-btn" href="#">
                <i class="socicon-googleplus"></i>&nbsp;Google+ login</a>
            </div>
          </div> -->

          <h3 class="margin-bottom-1x">Login</h3>
          <div class="form-group input-group" [ngClass]="{'has-danger': !loginForm.get('email').valid && loginForm.get('email').touched}">
            <input class="form-control" formControlName="email" type="email" placeholder="Email" required="">
            <span class="input-group-addon">
              <i class="icon-mail"></i>
            </span>
            <div *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="form-control-feedback">
              Be sure to enter a valid, existing Email.
            </div>
          </div>
          <div class="form-group input-group" [ngClass]="{'has-danger': !loginForm.get('password').valid && loginForm.get('password').touched}">
            <input class="form-control" formControlName="password" type="password" placeholder="Password" required="">
            <span class="input-group-addon">
              <i class="icon-lock"></i>
            </span>
            <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="form-control-feedback">
              The entered password seems to be wrong..
            </div>
          </div>

          <!-- <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
            <a class="navi-link" href="account-password-recovery.html">Forgot password?</a>
          </div> -->

          <div class="text-center text-sm-right">
            <button [disabled]="!loginForm.valid"class="btn btn-primary margin-bottom-none" type="submit">Login</button>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <div class="padding-top-3x hidden-md-up"></div>
        <h3 class="margin-bottom-1x">No Account? Register</h3>
        <p>Registration takes less than a minute but gives you full control over your orders.</p>
        <form [formGroup]="registerForm" class="row" (ngSubmit)="onRegister()">

          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-fn">First Name</label>
              <input class="form-control" formControlName="firstName" type="text" id="reg-fn" required="">
            </div>
          </div> -->

          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-ln">Last Name</label>
              <input class="form-control" formControlName="lastName" type="text" id="reg-ln" required="">
            </div>
          </div> -->

          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('email').valid && registerForm.get('email').touched}">
              <label for="reg-email">E-mail Address</label>
              <input class="form-control" formControlName="email" type="email" id="reg-email" required>
            </div>
          </div>

          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-phone">Phone Number</label>
              <input class="form-control" formControlName="phoneNumber" type="text" id="reg-phone" required>
            </div>
          </div> -->

            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('password').valid && registerForm.get('password').touched}">
                <label for="reg-pass">Password</label>
                <input class="form-control" formControlName="password" type="password" id="reg-pass" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched}">
                <label for="reg-pass-confirm">Confirm Password</label>
                <input class="form-control" formControlName="confirmPassword" type="password" id="reg-pass-confirm" required>
              </div>
            </div>

          <div class="col-12 text-center text-sm-right">

            <div class="form-group has-danger">
              <div class="form-control-feedback">
                {{ registerErrors }}
              </div>
            </div>

            <button [disabled]="!registerForm.valid" class="btn btn-primary margin-bottom-none" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
