<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>Products</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/home" href="">Home</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>Products</li>
      </ul>
    </div>
  </div>
</div>

      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-1">
        <!-- Shop Toolbar-->
        <div class="shop-toolbar padding-bottom-1x mb-2">
          <div class="column">
            <div class="shop-sorting">
              <label for="sorting">Sort by:</label>
              <select class="form-control" id="sorting">
                <option>Popularity</option>
                <option>Low - High Price</option>
                <option>High - Low Price</option>
                <option>Avarage Rating</option>
                <option>A - Z Order</option>
                <option>Z - A Order</option>
              </select>
              <span class="text-muted">Showing:&nbsp;</span>
              <span>1 - 12 items</span>
            </div>
          </div>
          <div class="column">
            <div class="shop-view">
              <a class="grid-view active" href="shop-grid-ns.html">
                <span></span>
                <span></span>
                <span></span>
              </a>
              <a class="list-view" href="shop-list-ns.html">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Products Grid-->
        <div class="isotope-grid cols-4 mb-2">
          <div class="gutter-sizer"></div>
          <div class="grid-sizer"></div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="product-badge text-danger">50% Off</div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/01.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Unionbay Park</a>
              </h3>
              <h4 class="product-price">
                <del>$99.99</del>$49.99
              </h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/02.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Cole Haan Crossbody</a>
              </h3>
              <h4 class="product-price">$200.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="rating-stars">
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star"></i>
              </div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/03.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Oakley Kickback</a>
              </h3>
              <h4 class="product-price">$155.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/04.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Waist Leather Belt</a>
              </h3>
              <h4 class="product-price">$47.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="rating-stars">
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
              </div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/05.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Jordan City Man's Hoodie</a>
              </h3>
              <h4 class="product-price">$65.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="product-badge text-danger">40% Off</div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/06.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Palace Shell Track Jacket</a>
              </h3>
              <h4 class="product-price">
                <del>$60.00</del>$36.00
              </h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/07.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Stretch Woven Jogger</a>
              </h3>
              <h4 class="product-price">$69.99</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="product-badge text-muted">Out of stock</div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/08.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Off the Shoulder Top</a>
              </h3>
              <h4 class="product-price">$128.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <a class="btn btn-outline-secondary btn-sm" href="shop-single.html">View Details</a>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="product-badge text-danger">22% Off</div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/09.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Rocket Dog</a>
              </h3>
              <h4 class="product-price">
                <del>$44.95</del>$34.99
              </h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/10.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Daily Fabric Cap</a>
              </h3>
              <h4 class="product-price">$31.99</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <div class="rating-stars">
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
              </div>
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/11.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Top-Sider Fathom</a>
              </h3>
              <h4 class="product-price">$90.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/12.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Vented Straw Fedora</a>
              </h3>
              <h4 class="product-price">$49.50</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/13.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Diamond Quilted Backpack</a>
              </h3>
              <h4 class="product-price">$88.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/14.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Skagen Holst Watch</a>
              </h3>
              <h4 class="product-price">$145.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/15.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Metal Star Earings</a>
              </h3>
              <h4 class="product-price">$90.00</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="grid-item">
            <div class="product-card">
              <a class="product-thumb" href="shop-single.html">
                <img src="img/shop/products/16.jpg" alt="Product">
              </a>
              <h3 class="product-title">
                <a href="shop-single.html">Big Wordmark Tote</a>
              </h3>
              <h4 class="product-price">$29.99</h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                  <i class="icon-heart"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination-->
        <nav class="pagination">
          <div class="column">
            <ul class="pages">
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>...</li>
              <li>
                <a href="#">12</a>
              </li>
            </ul>
          </div>
          <div class="column text-right hidden-xs-down">
            <a class="btn btn-outline-secondary btn-sm" href="#">Next&nbsp;
              <i class="icon-arrow-right"></i>
            </a>
          </div>
        </nav>


      </div>

<ul>
  <li *ngFor="let product of products">
    <a routerLink="/products/{{product.id}}" class="nav-link">{{ product.id }} {{ product.name }}</a>
  </li>
</ul>
