<div class="product-card">
  <div *ngIf="product.reduction" class="product-badge text-danger">{{ product.reduction }}% Off</div>
  <a class="product-thumb" routerLink="/products/{{product.id}}">
    <img src="{{product.imageURLs[0]}}" alt="{{product.name}}">
  </a>
  <h3 class="product-title">
    <a routerLink="/products/{{product.id}}">{{product.name}}</a>
  </h3>
  <h4 class="product-price"><app-price [product]="product"></app-price></h4>
  <div class="product-buttons">
    <!-- <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
      <i class="icon-heart"></i>
    </button> -->
    <button class="btn btn-outline-primary btn-sm" (click)="onAddToCart()">Add to Cart</button>
  </div>
</div>
