<div class="widget widget-featured-products">
  <h3 class="widget-title">{{ widgetTitle }}</h3>
  <!-- Entry-->
  <div class="entry">
    <div class="entry-thumb">
      <a href="shop-single.html">
        <img src="img/shop/widget/01.jpg" alt="Product">
      </a>
    </div>
    <div class="entry-content">
      <h4 class="entry-title">
        <a href="shop-single.html">Oakley Kickback</a>
      </h4>
      <span class="entry-meta">$155.00</span>
    </div>
  </div>
  <!-- Entry-->
  <div class="entry">
    <div class="entry-thumb">
      <a href="shop-single.html">
        <img src="img/shop/widget/03.jpg" alt="Product">
      </a>
    </div>
    <div class="entry-content">
      <h4 class="entry-title">
        <a href="shop-single.html">Vented Straw Fedora</a>
      </h4>
      <span class="entry-meta">$49.50</span>
    </div>
  </div>
  <!-- Entry-->
  <div class="entry">
    <div class="entry-thumb">
      <a href="shop-single.html">
        <img src="img/shop/widget/04.jpg" alt="Product">
      </a>
    </div>
    <div class="entry-content">
      <h4 class="entry-title">
        <a href="shop-single.html">Big Wordmark Tote</a>
      </h4>
      <span class="entry-meta">$29.99</span>
    </div>
  </div>
</div>
