<div *ngIf="product">

  <!-- Page Title-->
  <div class="page-title">
    <div class="container">
      <div class="column">
        <h1>{{ product.name }}</h1>
      </div>
      <div class="column">
        <ul class="breadcrumbs">
          <li>
            <a routerLink="/home" href="">Home</a>
          </li>
          <li class="separator">&nbsp;</li>
          <li>
            <a routerLink="/products" href="">Products</a>
          </li>
          <li class="separator">&nbsp;</li>
          <li>{{ product.name }}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container padding-bottom-3x mb-1">
    <div class="row">
      <!-- Poduct Gallery-->
      <div class="col-md-6">
        <div class="product-gallery">
          <span *ngIf="product.reduction" class="product-badge text-danger">{{product.reduction}}% Off</span>
          <div class="product-gallery-image">
              <img class="img-fluid" [src]="activeImageUrl" alt="{{product.name}}">
          </div>
          <ul class="product-thumbnails">
            <li *ngFor="let image of product.imageURLs; let i = index" [ngClass]="{'active': i === activeImageIndex}">
              <a href="" (click)="onSelectThumbnail($event, i)">
                <img [src]="image" alt="Product">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Product Info-->
      <div class="col-md-6">
        <div class="padding-top-2x mt-2 hidden-md-up"></div>
          <div class="rating-stars">
            <i class="icon-star filled"></i>
            <i class="icon-star filled"></i>
            <i class="icon-star filled"></i>
            <i class="icon-star filled"></i>
            <i class="icon-star"></i>
          </div>
        <span class="text-muted align-middle">&nbsp;&nbsp;4.2 | 3 customer reviews</span>
        <h2 class="padding-top-1x text-normal">{{ product.name }}</h2>
        <span class="h2 d-block">
          <app-price [product]="product"></app-price>
        </span>
        <p>{{product.description}}</p>
        <div class="row margin-top-1x">
          <!-- <div class="col-sm-4">
            <div class="form-group">
              <label for="size">Men's size</label>
              <select class="form-control" id="size">
                <option>Chooze size</option>
                <option>11.5</option>
                <option>11</option>
                <option>10.5</option>
                <option>10</option>
                <option>9.5</option>
                <option>9</option>
                <option>8.5</option>
              </select>
            </div>
          </div> -->
          <!-- <div class="col-sm-5">
            <div class="form-group">
              <label for="color">Choose color</label>
              <select class="form-control" id="color">
                <option>White/Red/Blue</option>
                <option>Black/Orange/Green</option>
                <option>Gray/Purple/White</option>
              </select>
            </div>
          </div> -->
          <div class="col-sm-3">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <select class="form-control" id="quantity" (change)="onSelectQuantity($event)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pt-1 mb-2">
          <span class="text-medium">SKU:</span> {{ product.id }}
        </div>
        <div class="padding-bottom-1x mb-2">
          <span class="text-medium">Categories:&nbsp;</span>
          <a class="navi-link" href="#">Men’s shoes,</a>
          <a class="navi-link" href="#"> Snickers,</a>
          <a class="navi-link" href="#"> Sport shoes</a>
        </div>
        <hr class="mb-3">
        <div class="d-flex flex-wrap justify-content-between">
          <div class="entry-share mt-2 mb-2">
            <span class="text-muted">Share:</span>
            <div class="share-links">
              <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="socicon-facebook"></i>
              </a>
              <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="socicon-twitter"></i>
              </a>
              <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                <i class="socicon-instagram"></i>
              </a>
              <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +">
                <i class="socicon-googleplus"></i>
              </a>
            </div>
          </div>
          <div class="sp-buttons mt-2 mb-2">
            <!-- <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
              <i class="icon-heart"></i>
            </button> -->
            <button class="btn btn-primary" (click)="onAddToCart()">
              <i class="icon-bag"></i> Add to Cart
            </button>
          </div>
        </div>

        <form>
          <div class="form-group">
            <label for="review_rating">Your Rating</label>
            <select class="form-control form-control-rounded" id="review_rating">
              <option>5 Stars</option>
              <option>4 Stars</option>
              <option>3 Stars</option>
              <option>2 Stars</option>
              <option>1 Star</option>
            </select>
          </div>
        </form>

      </div>
    </div>

  </div>

</div>
