<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>{{ title }}</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/home" href="">Home</a>
        </li>
        <ng-container *ngFor="let child of children">
          <li class="separator">&nbsp;</li>
          <li>
            <a *ngIf="child.link; else noLink" [routerLink]="child.link">{{ child.title }}</a>
            <ng-template #noLink>{{child.title}}</ng-template>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
