<h4>Review Your Order</h4>
<hr class="padding-bottom-1x">
<div class="table-responsive shopping-cart">
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th class="text-center">Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="product-item">
            <a class="product-thumb" href="shop-single.html">
              <img src="img/shop/cart/01.jpg" alt="Product">
            </a>
            <div class="product-info">
              <h4 class="product-title">
                <a href="shop-single.html">Unionbay Park
                  <small>x 1</small>
                </a>
              </h4>
              <span>
                <em>Size:</em> 10.5</span>
              <span>
                <em>Color:</em> Dark Blue</span>
            </div>
          </div>
        </td>
        <td class="text-center text-lg text-medium">$43.90</td>
        <td class="text-center">
          <a class="btn btn-outline-primary btn-sm" href="cart.html">Edit</a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="product-item">
            <a class="product-thumb" href="shop-single.html">
              <img src="img/shop/cart/02.jpg" alt="Product">
            </a>
            <div class="product-info">
              <h4 class="product-title">
                <a href="shop-single.html">Daily Fabric Cap
                  <small>x 2</small>
                </a>
              </h4>
              <span>
                <em>Size:</em> XL</span>
              <span>
                <em>Color:</em> Black</span>
            </div>
          </div>
        </td>
        <td class="text-center text-lg text-medium">$24.89</td>
        <td class="text-center">
          <a class="btn btn-outline-primary btn-sm" href="cart.html">Edit</a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="product-item">
            <a class="product-thumb" href="shop-single.html">
              <img src="img/shop/cart/03.jpg" alt="Product">
            </a>
            <div class="product-info">
              <h4 class="product-title">
                <a href="shop-single.html">Cole Haan Crossbody
                  <small>x 1</small>
                </a>
              </h4>
              <span>
                <em>Size:</em> -</span>
              <span>
                <em>Color:</em> Turquoise</span>
            </div>
          </div>
        </td>
        <td class="text-center text-lg text-medium">$200.00</td>
        <td class="text-center">
          <a class="btn btn-outline-primary btn-sm" href="cart.html">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="shopping-cart-footer">
  <div class="column"></div>
  <div class="column text-lg">Subtotal:
    <span class="text-medium">$289.68</span>
  </div>
</div>
<div class="row padding-top-1x mt-3">
  <div class="col-sm-6">
    <h5>Shipping to:</h5>
    <ul class="list-unstyled">
      <li>
        <span class="text-muted">Client:</span>Daniel Adams</li>
      <li>
        <span class="text-muted">Address:</span>44 Shirley Ave. West Chicago, IL 60185, USA</li>
      <li>
        <span class="text-muted">Phone:</span>+1(808) 764 554 330</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h5>Payment method:</h5>
    <ul class="list-unstyled">
      <li>
        <span class="text-muted">Credit Card:</span>**** **** **** 5300</li>
    </ul>
  </div>
</div>
