@import '~scss/helpers/variables';
@import '~scss/helpers/mixins';

.rating-stars {
  display: inline-block;

  > i {
    display: inline-block;
    margin-right: 2px;
    color: lighten($gray, 15%);
    font-size: $font-size-sm;
    &.filled { color: $brand-warning; }
    &:last-child { margin-right: 0; }
  }
}
