// xs
body.dev:after {
  position: fixed;
  bottom: 0;
  content: 'xs';
  background: #ffff00;
  padding-left: 3px;
  padding-right: 3px;

  @include media-breakpoint-up(sm) {
    content: 'sm';
  }

  @include media-breakpoint-up(md) {
    content: 'md';
  }

  @include media-breakpoint-up(lg) {
    content: 'lg';
  }
}
