/*
 * Unishop | Universal E-Commerce Template
 * Copyright 2017 rokaux
 * Theme Styles
 */

//Import Google Fonts (Maven Pro)
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

// Import Bootstrap Modules
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


// Helpers: Variables, Mixins and Placeholders
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/placeholders';

@import "~ngx-toastr/toastr-bs4-alert";

// Base
@import 'base/scaffolding';
@import 'base/utilities';

// Components
@import 'components/icons';
@import 'components/typography';
@import 'components/forms';
@import 'components/tables';
@import 'components/buttons';
@import 'components/social-buttons';
@import 'components/navs';
@import 'components/card';
@import 'components/accordion';
@import 'components/pagination';
@import 'components/comments';
@import 'components/tooltips';
@import 'components/dropdown';
@import 'components/list-group';
@import 'components/alert';
@import 'components/modal';
@import 'components/progress';
@import 'components/gallery';
@import 'components/countdown';
@import 'components/widgets';
@import 'components/steps';
@import 'components/banners';


// Layout
@import 'layout/section';
@import 'layout/header';
@import 'layout/page-title';
@import 'layout/offcanvas-menu';

// Modules
@import 'modules/shop';
@import 'modules/blog';
